html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
}


body  {
    background-color: #ff00181a
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem 5rem;
}

H1 
{  color: #ff0000ab;
    font-weight: 200;
}    

.h1, h1 {
    font-size: 2.2rem;
    }

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.border-top {
    border-top: 0px solid #dee2e6!important;
    PADDING-TOP: 25%;
}

span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  .lead {
    font-size: 1.15rem;
    font-weight: 300;
    }

  .btn-primary {
    color: #ff0000ab;
    background-color: #007bff00;
    border-color: #ff0000ab;
    border-radius: 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.28);
    border-color: rgba(255, 0, 0, 0.32);
}

.btn-outline-primary {
    color: #ff0000ab;
    background-color: #007bff00;
    border-color: #ff0000ab;
    border-radius: 20px;
    }

    .btn-outline-primary:hover {
        color: #fff;
        background-color: rgba(255, 0, 0, 0.28);
        border-color: rgba(255, 0, 0, 0.32);
        }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }
  
  a {
    color: #ff0000ab;
    text-decoration: none;
    background-color: transparent;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: rgba(255, 0, 0, 0.09);
        background-clip: border-box;
        border: 1px solid rgba(244, 13, 13, 0);
        border-radius: .25rem;
        }

