html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
}


body  {
    background-color: whitesmoke
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem 7rem;
}


H1 
{  color: blue;
    font-weight: 200;
}    

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.border-top {
    border-top: 0px solid #dee2e6!important;
    PADDING-TOP: 25%;
}

span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }
  


